<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:image" content="/img/Nagisa-recital-with-piano-small.jpg" />
  <meta property="og:url" content="http://nagisaariza.com" />
  <meta property="og:title" content="Official Website of Nagisa Ariza" />


  <title>{% if page.title %}{{ site.title | escape }} | {{ page.title | escape }}{% endif %}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="alternate" href="{{ page.url | replace:'/jp/','/en/' | prepend: site.baseurl | prepend: site.url }}" hreflang="en">
  <link rel="alternate" href="{{ page.url | replace:'/en/','/jp/' | prepend: site.baseurl | prepend: site.url }}" hreflang="jp">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


  <link href="https://fonts.googleapis.com/css?family=Voltaire" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <!-- // <script type="text/javascript" src="script.js"></script> -->


  <script src="/js/nav.js"></script>
  <script src="/js/gallery.js"></script>
  <script src="/js/typewriter.js"></script>

  <!-- jQuery -->
  <script src="/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.min.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83977005-1', {'sampleRate': 100});
  ga('send', 'pageview');

</script>

{% assign current_lang = page.url | slice: 1, 2 %}
{% include google_analytics.html %}

</head>
